.wp-block-academic-social-link__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1em;
	height: 1em;
}

.wp-block-academic-social-link__icon-img {
	height: 83.3334%;
	min-height: 16px;
}
